:root {
  --grey-border-primary: 1px solid rgb(58, 58, 58);
  --input-bg-primary: rgb(22, 22, 22);
}

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(29, 29, 29);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;

  h1 {
    color: white;
  }
}

a {
  text-decoration: none;
  padding: 10px 15px 10px 15px;
  background-color: var(--input-bg-primary);
  border: var(--grey-border-primary);
  color: white;
  border-radius: 10px;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
a:hover {
  background-color: rgb(41, 41, 41);
}
